.zigege{
    height: auto;
    background-image: url('');
    background-size: cover;
}

.tryit{
  background-image:url("https://scontent.fblz2-1.fna.fbcdn.net/v/t39.30808-6/440300960_847629780717116_606263849914648273_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG9MdKUf4cPd7hgnfdeKVdCNzS-DO_TsA03NL4M79OwDZhvbM2km-H5sAM7wLfis3X0AUVsbz1icI23vK5yA1_g&_nc_ohc=niKP1H05NxEQ7kNvgFq-KXp&_nc_zt=23&_nc_ht=scontent.fblz2-1.fna&oh=00_AYB20ExADZmwP8fClKTr64qb8lgYEl4s-ZWA0xcOT8NIZg&oe=66559411") ;
  width: 100%;
  height: 400px;
  background-size: cover;
}
  
  .hospital-logo {
    margin-top:8%;
    margin-left: 2%;
    width: 150px;
    height: 150px;
  }

  .sevdiv{
    display: flex;
  }

  .service-description{
    display: flex;
    flex-direction: column;
  }
  
  .kulandila{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    color: green;
    font-size:x-large;
    font-weight: 700;
  }

  .mawu{
    font-size: large;
    margin-left: 13%;
    margin-right: 5%;
    text-align: left;
    font-weight: 400;
  }

  #spanid{
    font-weight: 400;
    text-align: left;
    font-size: large;
    margin-left: 13%;
    margin-top: 2%;
    margin-right: 5%;
  }

  .divyabt{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 1%;
  }

  @media(max-width: 500px){
    .hospital-logo{
      display: none;
    }

    .tryit{
      width: 100%;
      height: 300px;
    }

    .kulandila{
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
    }

    .mawu{
      margin-left: 5%;
      margin-right: 2%;
    }

    #spanid{
      margin-left: 5%;
    }
  }