.zigege{
    height: auto;
    background-image: url('https://en.idei.club/uploads/posts/2023-06/1686715780_en-idei-club-p-medical-abstract-background-dizain-instagr-19.jpg');
    background-size: cover;
}

.tryit{
  background-image:url("https://scontent.fblz2-1.fna.fbcdn.net/v/t39.30808-6/442392375_852390796907681_1552113802689168448_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFC_OfmH4Cok7z51oL8i-1s0i62VLD7PRnSLrZUsPs9GcXKbOiNEfZGYpLz-gA2HNhEiw0JlXQrZkIDmEEj1JvY&_nc_ohc=Ui6CpxxkO3IQ7kNvgE2Br23&_nc_zt=23&_nc_ht=scontent.fblz2-1.fna&oh=00_AYDAuniaUk0_b1ZHFnN2NDP3xoxU4BQ46H87Sd-9-oEFQQ&oe=66557AAD") ;
  width: 100%;
  height: 400px;
  background-size: cover;
}
  
  .hospital-logo {
    margin-top:8%;
    margin-left: 2%;
    width: 150px;
    height: 150px;
  }

  .sevdiv{
    display: flex;
  }

  .service-description{
    display: flex;
    flex-direction: column;
  }
  
  .kulandila{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    color: green;
    font-size:x-large;
    font-weight: 700;
  }

  .mawu{
    font-size: large;
    margin-left: 13%;
    margin-right: 5%;
    text-align: left;
    font-weight: 400;
  }

  #spanid{
    font-weight: 400;
    text-align: left;
    font-size: large;
    margin-left: 13%;
    margin-top: 2%;
    margin-right: 5%;
  }

  .divyabt{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 1%;
  }

  @media(max-width: 500px){
    .hospital-logo{
      display: none;
    }

    .tryit{
      width: 100%;
      height: 300px;
    }

    .kulandila{
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
    }

    .mawu{
      margin-left: 5%;
      margin-right: 2%;
    }

    #spanid{
      margin-left: 5%;
    }
  }