.zigege{
    height: auto;
    background-image: url('https://en.idei.club/uploads/posts/2023-06/1686715780_en-idei-club-p-medical-abstract-background-dizain-instagr-19.jpg');
    background-size: cover;
}

.tryit{
  background-image:url("https://scontent.fblz2-1.fna.fbcdn.net/v/t39.30808-6/440072618_847623114051116_5830858774568460928_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHlI4g6AqvMfoAH6x1NNSZz9AMN1EkRnOP0Aw3USRGc499nsOX6VkitwKv1ZzLZVsqpiAkkHQ7SL6GrrtBFMXn6&_nc_ohc=7RUHqJv4Eh8Q7kNvgHgOOk3&_nc_zt=23&_nc_ht=scontent.fblz2-1.fna&oh=00_AYDJLXFwY3m8xBGmVPhcHPRBqj7cSswRS17v-2ydvLfmwQ&oe=66595603") ;
  width: 100%;
  height: 600px;
  background-size: cover;
}
  
  .hospital-logo {
    margin-top:8%;
    margin-left: 2%;
    width: 150px;
    height: 150px;
  }

  .sevdiv{
    display: flex;
  }

  .service-description{
    display: flex;
    flex-direction: column;
  
  }
  
  .kulandila{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    color: green;
    font-size:x-large;
    font-weight: 700;
  }

  .mawu{
    font-size: large;
    margin-left: 13%;
    margin-right: 5%;
    text-align: left;
    font-weight: 400;
  }

  #spanid{
    font-weight: 400;
    text-align: left;
    font-size: large;
    margin-left: 13%;
    margin-top: 2%;
    margin-right: 5%;
  }

  .divyabt{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 1%;
  }

  @media(max-width: 500px){
    .hospital-logo{
      display: none;
    }

    .tryit{
      width: 100%;
      height: 300px;
    }

    .kulandila{
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
    }

    .mawu{
      margin-left: 5%;
      margin-right: 2%;
    }

    #spanid{
      margin-left: 5%;
    }
  }
